<section class="orbit-about">
  <div class="orbit-3d-container">
    <div class="center-photo-wrapper">
      <img
        src="/PortfolioWebsite/me.jpg"
        alt="Roberto Gonzales Main Photo"
        class="center-photo"
      />
    </div>

    <div class="badge-wrapper">
      <div class="orbit-hitbox">
        <div class="orbit-badge" data-badge="brown">🎓 Brown</div>
      </div>
      <div class="orbit-hitbox">
        <div class="orbit-badge" data-badge="peru">🇵🇪 Peru</div>
      </div>
      <div class="orbit-hitbox">
        <div class="orbit-badge" data-badge="coder">👾 CompSci</div>
      </div>
      <div class="orbit-hitbox">
        <div class="orbit-badge" data-badge="uiux">🎨 UIUX</div>
      </div>
      <div class="orbit-hitbox">
        <div class="orbit-badge" data-badge="more">🤔💭 More...</div>
      </div>
    </div>
  </div>

  <div class="about-orbit-description">
    <h1>Hi, I’m Roberto</h1>
    <p id="about-description-text">
      I am a software engineer and a UI designer who loves to challenge
      themselves! Click on the badges that orbit me to know more!
      <strong>Brown University</strong>.
    </p>
  </div>
</section>
