.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 996px;
  display: flex;
  justify-content: space-between;
  max-height: 900px;
}

.card {
  position: relative;
  width: 40%;
  height: 52.5%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
  right: -1lh;
}

.Picture1Me,
.Picture2Me {
  position: absolute;
  bottom: -45.5%;
  height: 90vh;
  width: auto;
  max-width: 100%;
  max-height: 90vh;
  backface-visibility: hidden;
  cursor: grab;
  object-fit: contain;
  border-radius: 60px;
  border: solid 2px white;
}

.card:hover {
  transform: rotateY(180deg);
}

.Picture2Me {
  transform: rotateY(180deg);
}

.bannerTextContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.rowContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 90%;
  align-items: center;
}

.rowContainerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-row {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  font-family: "Arial";
}

.banner-row.center {
  font-size: 5rem;
}

.banner-row.bottom {
  font-size: 5rem;
}

.banner-row.top {
  font-size: 5rem;
}

.row-title {
  position: relative;
  display: inline-block;
}

.rotatingBlock {
  width: 100%;
  position: relative;
  transition: transform 0.5s;
  overflow: hidden;
}
.MeContainer {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.blockPanel {
  color: rgb(255, 225, 117);
  width: 100%;
  text-align: start;
  height: 100%;
  font-size: 5rem;
  transform-origin: center bottom;
  align-items: start;
  font-family: "Arial";
}

.panelVisible {
  backface-visibility: hidden;
  transform: rotateX(0deg) translateZ(50px);
  transition: transform 0.5s;
}

.panelLeaving {
  backface-visibility: hidden;
  transform: rotateX(90deg) translateZ(50px);
}

.panelDefault {
  backface-visibility: hidden;
  transform: rotateX(-90deg) translateZ(50px);
  transition: transform 0.5s;
}

.MePicture {
  width: 80%;
  border-radius: 60px;
  border: solid 5px white;
}

.panelSlideIn {
  transform: translateY(100%);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

.panelSlideOut {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media (max-width: 1370px) {
  .banner-row.center,
  .banner-row.top,
  .banner-row.bottom {
    font-size: 4rem;
  }

  .blockPanel {
    font-size: 4rem;
  }
}

@media (max-width: 1064px) {
  .rowContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .bannerTextContainer {
    margin-top: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .banner-row {
    justify-content: center;
    text-align: center;
  }

  .banner-row.center,
  .banner-row.top,
  .banner-row.bottom {
    font-size: 4rem;
  }

  .MeContainer {
    width: 80%;
    margin-top: 2.8rem;
  }
  .rotatingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blockPanel {
    font-size: 4rem;
    text-align: center;
    align-items: center;
  }
  .MePicture {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .rowContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .bannerTextContainer {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .banner-row {
    justify-content: center;
    text-align: center;
  }

  .banner-row.center,
  .banner-row.top,
  .banner-row.bottom {
    font-size: 3rem;
  }

  .MeContainer {
    width: 80%;
    margin-top: 2rem;
  }
  .rotatingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blockPanel {
    font-size: 3rem;
    text-align: center;
    align-items: center;
  }
  .MePicture {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .banner-row.center,
  .banner-row.top,
  .banner-row.bottom {
    text-align: center;
    font-size: 2.5rem;
  }
  .rotatingBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .MeContainer {
    width: 90%;
    margin-top: 1.5rem;
  }
  .panelSlideIn .panelSlideOut .blockPanel {
    text-align: center;
    align-items: center;
    font-size: 2.2rem;
  }
}
