.banner {
  background-image: url("/PortfolioWebsite/CropImage2.webp");
  background-size: cover; /* Ensures the entire image is visible */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  position: relative;
  width: 40%;
  height: 52.5%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  display: flex;
  justify-content: center;
  right: -1lh;
}

.Picture1Me,
.Picture2Me {
  position: absolute;
  bottom: -45.5%;
  height: 90vh; /* Set height to 90vh */
  width: auto; /* Ensure the width adjusts automatically */
  max-width: 100%; /* Prevent the width from exceeding the container */
  max-height: 90vh; /* Prevent the height from exceeding 90vh */
  backface-visibility: hidden;
  cursor: grab;
  object-fit: contain; /* Preserve aspect ratio */
}

.card:hover {
  transform: rotateY(180deg);
}

.Picture2Me {
  transform: rotateY(180deg);
}

.bannerTextContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: -70px;
}
.rowContainer {
  display: flex;
}

.rowContainerBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-row {
  color: aliceblue;
  display: flex;
  align-items: end;
  font-family: "Arial"; /* Specify a monospaced font */
  font-weight: bold;
}

/* Center-aligned Row */
.banner-row.center {
  color: rgb(196, 41, 54);
  font-size: 10rem;
}

.banner-row.bottom {
  font-size: 8.5rem;
}

.banner-row.top {
  font-size: 10rem;
}

/* Letter and Title Styling */
.row-title {
  position: relative;
  display: inline-block;
  margin-bottom: -20px;
  margin-top: -20px;
}

.rotatingBlock {
  width: 100%;
  position: relative;
  height: 70px; /* Ensure height matches width for a square block */
  transform-style: preserve-3d; /* Enable 3D transformations for children */
  transition: transform 0.5s; /* Smooth transition for rotation */
}

.blockPanel {
  top: 50px;
  color: rgb(196, 41, 54);
  position: absolute;
  width: 100%;
  text-align: end;
  line-height: 50px; /* Center text vertically */
  font-size: 8.5em; /* Adjust font size as needed */
  transform-origin: center bottom; /* Rotation around the bottom edge */
  align-items: end;
  font-family: "Arial"; /* Specify a monospaced font */
  font-weight: bold;
}

.panelVisible {
  backface-visibility: hidden;
  transform: rotateX(0deg) translateZ(50px); /* Rotation for the currently visible panel */
  transition: transform 0.5s; /* Smooth transition for rotation */
}

.panelLeaving {
  backface-visibility: hidden;
  transform: rotateX(90deg) translateZ(50px);
}

.panelDefault {
  backface-visibility: hidden;
  transform: rotateX(-90deg) translateZ(50px);
  transition: transform 0.5s; /* Smooth transition for rotation */
}

@media (max-width: 1500px) {
  .banner-row.center {
    font-size: 8.5rem;
  }

  .banner-row.bottom {
    font-size: 7.5rem;
  }

  .banner-row.top {
    font-size: 8.5rem;
  }

  .blockPanel {
    top: 40px;
    font-size: 7.3rem;
  }

  .Picture1Me,
  .Picture2Me {
    width: 90%;
  }
}

@media (max-width: 1375px) {
  .banner-row.center {
    font-size: 6.5rem;
  }

  .banner-row.bottom {
    position: relative;
    font-size: 5.5rem;
  }

  .banner-row.top {
    font-size: 6.5rem;
  }

  .row-title {
    margin-bottom: 0;
    margin-top: 0;
  }

  .blockPanel {
    top: 20px;
    font-size: 5.4rem;
  }

  .card {
    right: -30px;
  }

  .Picture1Me,
  .Picture2Me {
    width: 85%;
  }
}

@media (max-width: 1160px) {
  .banner-row.center {
    font-size: 5.5rem;
  }

  .banner-row.bottom {
    font-size: 4.5rem;
  }

  .banner-row.top {
    font-size: 5.5rem;
  }

  .Picture1Me,
  .Picture2Me {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .Picture1Me,
  .Picture2Me {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .Picture1Me,
  .Picture2Me {
    width: 70%;
  }
}
