/* Base styles */
.body {
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Arial";
  position: absolute;
  font-size: 1.6rem;
  display: flex;
  margin: 20px 40px; /* Adds space at the top, bottom, and sides */
  z-index: 100;
  width: calc(100% - 80px); /* Adjust width to account for the side margins */
  align-items: center;
  justify-content: space-between;
}

.dark {
  color: black;
}
.light {
  color: #ffffff;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  width: 25%;
}

.nav {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav li {
  list-style: none;
  margin: 0 40px;
}

.nav li a {
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 10px; /* Adjust padding for desired look */
  transition: 0.2s ease-in-out;
}

.contact a {
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #c9c9ed !important;
  padding-bottom: 12px;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.contact a:visited {
  color: inherit !important;
}

.contact a:first {
  color: inherit;
}

.contact a:active {
  color: inherit;
}

.nav li a.dimmed {
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust the color and transparency as needed */
  border-radius: 25px; /* Creates the pill effect */
  padding: 10px 10px; /* Adjust padding for desired look */
  text-decoration: none;
  color: inherit; /* Keep the original text color */
}

.nav-menu {
  /* height: 56px; */
  width: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

@media (max-width: 1500px) {
  .header {
    font-size: 1.5rem;
  }
  .logo {
    font-size: 2.4rem;
  }

  .contact a {
    font-size: 1.6rem;
  }
}

@media (max-width: 1440px) {
  .logo {
    font-size: 2.1rem;
  }
  .nav {
    width: 65%;
  }
}

@media (max-width: 1220px) {
  .header {
    font-size: 1.4rem;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
  }

  .logo {
    font-size: 2.1rem;
  }

  .nav li {
    margin: 20px;
  }

  .contact a {
    padding-bottom: 8px;
    font-size: 1.5rem;
  }

  .nav-menu {
    width: 48px;
  }
}

@media (max-width: 925px) {
  .header {
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
  }

  .logo {
    font-size: 2rem;
  }

  .nav li {
    margin: 0 10px;
  }

  .contact a {
    padding-bottom: 6px;
    font-size: 1.4rem;
  }

  .nav-menu {
    width: 40px;
  }
}
