/* Base styles */
.body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  font-size: 1.6rem;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  z-index: 100;
  width: 100%;
}

.header-inner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
}

.nav {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav li {
  list-style: none;
  margin: 0 40px;
}

.nav li a {
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

.contact a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #c9c9ed;
  padding-bottom: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.nav-menu {
  /* height: 56px; */
  width: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 1220px) {
  .header {
    font-size: 1.4rem;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
  }

  .logo {
    font-size: 2.5rem;
  }

  .nav li {
    margin: 0 20px;
  }

  .contact a {
    padding-bottom: 8px;
    font-size: 1.5rem;
  }

  .nav-menu {
    width: 48px;
  }
}

@media (max-width: 925px) {
  .header {
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
  }

  .logo {
    font-size: 2rem;
  }

  .nav li {
    margin: 0 10px;
  }

  .contact a {
    padding-bottom: 6px;
    font-size: 1.4rem;
  }

  .nav-menu {
    width: 40px;
  }
}
