/* Header Base */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 40px;

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
  white-space: nowrap;
  background-color: #22222252;
  border-radius: 50px;
  padding: 5px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c9c9ed;
}

.contact a {
  background-color: #22222252;
  padding: 5px;

  border-radius: 50px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  border-bottom: 2px solid #c9c9ed;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

.contact a:hover {
  color: #c9c9ed;
}

/* Hamburger (hidden by default) */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background-color: #22222252;
  border-radius: 50px;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.mobile-menu a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

/* Show Mobile Menu */
.mobile-menu.open {
  opacity: 1;
  visibility: visible;
}

/* Responsive behavior */
@media (max-width: 800px) {
  .nav-links,
  .contact {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .header {
    padding: 0 20px;
  }
}
