.WIPContainer {
  overflow: hidden; /* Ensures that any overflow is hidden */
  position: relative; /* Position context for child elements */
  display: flex;
  align-content: center;
  justify-content: center;
  height: 1000px;
  width: 100%;
}

.WIP {
  max-width: 1000px; /* Make the image width 100% of the container */
  max-height: 1000px; /* Adjust height automatically to maintain aspect ratio */
  object-fit: scale-down; /* Ensure the image is contained within the container */
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
