.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll-content {
  width: 100%;
  display: inline-block;
}

.vertical-scroll-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.vertical-scroll-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
