<div class="banner">
  <div class="rowContainer">
    <div class="MeContainer">
      <img class="MePicture" src="/public/me.jpg" alt="Roberto" />
    </div>
    <div class="bannerTextContainer">
      <div class="banner-row top">
        <span class="row-title" id="row-top"></span>
      </div>
      <div class="banner-row center">
        <span class="row-title" id="row-center"></span>
      </div>
      <div class="banner-row bottom">
        <span class="row-title" id="row-bottom"></span>
      </div>
      <div id="rotatingBlock" class="rotatingBlock"></div>
    </div>
  </div>
</div>
