<div class="container">
  <img
    class="background-image"
    src="/PortfolioWebsite/camping.png"
    alt="Camping Background"
  />
  <div class="backgroundWrapper">
    <div class="sky-clip-wrapper">
      <img class="sky" src="/PortfolioWebsite/sky.png" alt="sky Background" />
    </div>
    <div class="sky-clip-wrapper-2">
      <img
        class="sky-2"
        src="/PortfolioWebsite/background2.png"
        alt="sky Background"
      />
    </div>
  </div>
  <div class="HomeContainer">
    <div class="ContainerBanner">
      <div id="banner"></div>
    </div>

    <div id="roomScene"></div>
    <div class="CardContainer">
      <a class="CardTitle">Look at my latest work!</a>
      <div id="projects-wrapper"></div>
    </div>
  </div>
</div>
