<div class="container">
  <img
    class="background-image"
    src="/PortfolioWebsite/camping.png"
    alt="Camping"
  />
  <div class="sky-clip-wrapper">
    <img class="sky" src="/PortfolioWebsite/sky.png" alt="sky" />
  </div>
  <div class="roomContainer" id="roomContainer">
    <div class="ContainerBanner" style="height: 80%">
      <div id="banner"></div>
    </div>

    <div id="roomScene"></div>
    <div class="CardContainer">
      <div id="projects-wrapper"></div>
    </div>
  </div>
</div>
