.generalContainer {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-inline: auto;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  z-index: 1;
  height: 100%; /* Adjust as needed */
  width: 1760px; /* Adjust as needed */
}

.room {
  top: 24vh;
  z-index: 2;
  position: relative;
  width: auto; /* Adjust as needed */
  height: 75vh; /* Adjust as needed */
}

.roomHighlight {
  top: 24vh;
  z-index: 7;
  position: absolute;
  width: auto; /* Adjust as needed */
  height: 75vh; /* Adjust as needed */
  pointer-events: none;
}

.image-container {
  position: relative;
  display: flex;
}

.svg-overlay {
  top: 24vh;
  z-index: 7;
  position: absolute;
  width: 100%; /* Adjust as needed */
  height: 75vh; /* Adjust as needed */
  pointer-events: none;
}

.clickable-polygon {
  fill: rgba(255, 255, 255, 0);
  pointer-events: all;
  cursor: pointer;
}

.sky {
  position: absolute;
  z-index: 0;
  height: auto; /* Adjust as needed */
  top: -325px;
  width: 2600px; /* Adjust as needed */
  transition: all 7s ease;
}

.day {
  position: absolute;
  z-index: 0;
  height: auto; /* Adjust as needed */
  top: -40vh;
  width: 145lh; /* Adjust as needed */
  transition: all 7s ease;
  transform: rotateZ(180deg);
}

.context-menu {
  background-color: rgba(188, 185, 185, 0.409);
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 3vh;
  left: 1lh;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5%;
}

.SunMoon {
  cursor: grab;
  width: 60%;
  height: auto;
}

.vertical-scroll-content {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
}
/* .clickable-polygon:hover {
  fill: rgba(255, 255, 255, 0.7);
} */
