.generalContainer {
  height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #79afcc;
}
.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-inline: auto;
  position: relative;
  justify-content: center;
}

.background-image {
  position: absolute;
  z-index: 0;
  height: auto;
  width: 1760px;
}

.room {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.roomHighlight {
  z-index: 7;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
}

.image-container {
  position: relative;
  display: flex;
  width: 797px;
  height: 744px;
  transform-origin: top left;
}

.roomContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-inline: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  max-height: 1000px;
}

.roomTitle {
  position: absolute;
  z-index: 13;
  top: 1vh;
  font-weight: bold;
  color: white;
  font-size: 3.5rem;
  padding: 0.25em 0.25em;
  background-color: rgba(59, 59, 59, 0.3);
  border-radius: 999px;
}

.svg-overlay {
  z-index: 7;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: contain;
}

.clickable-polygon {
  fill: rgba(255, 255, 255, 0);
  pointer-events: all;
  cursor: pointer;
}

.sky-clip-wrapper {
  position: relative;
  height: 1700px;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  display: flex;
  justify-content: center;
}
.backgroundWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sky {
  position: absolute;
  top: -20vh;
  height: auto;
  object-fit: cover;
  z-index: -2;
  transition: top 7s ease, transform 7s ease;
}

.sky.dark-mode {
  transform: rotateZ(180deg);
}

.sky-clip-wrapper-2 {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -2;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.sky-2 {
  bottom: -110vh;
  position: absolute;
  height: 2000px;
  width: 2000px;
  z-index: -1;
  object-fit: cover;
  transition: top 7s ease, transform 7s ease;
}

.sky-2.dark-mode {
  transform: rotateZ(180deg);
}

.vertical-scroll-content {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (max-width: 1070px) {
  .roomTitle {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .roomContainer {
    display: none;
  }
}
