<div class="generalContainer">
  <!-- Assumes header.html, banner.html, etc. exist and will be injected or inlined here -->

  <div class="transition-body" style="opacity: 0; transform: translateY(400px)">
    <div class="context-menu">
      <a href="https://www.linkedin.com/in/roberto-gonzales-matos-a24092295/">
        <img
          src="/PortfolioWebsite/LinkedIn.webp"
          style="width: 50px; height: auto; border-radius: 15px"
        />
      </a>
      <a href="https://github.com/RobertoGonzalesMatos/PortfolioWebsite">
        <img
          src="/PortfolioWebsite/GitHub.webp"
          style="width: 50px; height: auto"
        />
      </a>
      <img class="SunMoon" alt="SunMoon" id="sunMoonToggle" />
    </div>
    <div id="header"></div>
    <div class="vertical-scroll-content" id="bannerContainer"></div>
  </div>
</div>
